Write code to assign to the variable map_testing all the elements in lst_check while adding the string “Fruit: ” to the beginning of each element using mapping.

In [1]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

In [2]:
def addfruit(a_string):
    return "Fruit: " + a_string

In [3]:
def list_transform(a_list):
    new_list = map(addfruit, a_list)
    return list(new_list)

In [4]:
map_testing = list_transform(lst_check)
print(map_testing)

['Fruit: plums', 'Fruit: watermelon', 'Fruit: kiwi', 'Fruit: strawberries', 'Fruit: blueberries', 'Fruit: peaches', 'Fruit: apples', 'Fruit: mangos', 'Fruit: papaya']

Below, we have provided a list of strings called countries. Use filter to produce a list called b_countries that only contains the strings from countries that begin with B.

In [5]:
countries = ['Canada', 'Mexico', 'Brazil', 'Chile', 'Denmark', 'Botswana', 'Spain', 'Britain', 'Portugal', 'Russia', 'Thailand', 'Bangladesh', 'Nigeria', 'Argentina', 'Belarus', 'Laos', 'Australia', 'Panama', 'Egypt', 'Morocco', 'Switzerland', 'Belgium']

In [6]:
def keep_the_b(c_list):
    filtered_list = filter(lambda country: country[0].upper() == "B", c_list)
    return list(filtered_list)

In [7]:
b_countries = keep_the_b(countries)
print(b_countries)

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

Below, we have provided a list of tuples that contain the names of Game of Thrones characters. Using list comprehension, create a list of strings called first_names that contains only the first names of everyone in the original list.

In [8]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]

In [9]:
first_names = [name[1] for name in people]
print(first_names)

['Jon', 'Cersei', 'Arya', 'Robb', 'Jamie', 'Daenerys', 'Sansa', 'Margaery', 'Eddard', 'Tyrion', 'Joffrey', 'Ramsey', 'Peter']

Use list comprehension to create a list called lst2 that doubles each element in the list, lst.

In [10]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

In [11]:
lst2 = [item * 2 for item in lst]
print(lst2)

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

Below, we have provided a list of tuples that contain students’ names and their final grades in PYTHON 101. Using list comprehension, create a new list passed that contains the names of students who passed the class (had a final grade of 70 or greater).

In [12]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]

In [13]:
passed = [student[0] for student in students if student[1] >= 70]
print(passed)

['Tommy', 'Carl', 'Bob', 'Sue']

Write code using zip and filter so that these lists (l1 and l2) are combined into one big list and assigned to the variable opposites if they are both longer than 3 characters each.

In [17]:
l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']

In [18]:
opposites = [x1 + x2 for (x1, x2) in list(zip(l1, l2)) if len(x1) > 3 and len(x2) > 3]
print(opposites)

['leftright', 'frontback']

In [20]:
new_list = [(x1, x2) for (x1, x2) in list(zip(l1, l2)) if len(x1) > 3 and len(x2) > 3]
print(type(new_list))

<class 'list'>

In [21]:
print(new_list)

[('left', 'right'), ('front', 'back')]

Final Answer

In [22]:
opposites = [(x1, x2) for (x1, x2) in list(zip(l1, l2)) if len(x1) > 3 and len(x2) > 3]
print(type(opposites))
print(opposites)

<class 'list'>
[('left', 'right'), ('front', 'back')]

Below, we have provided a species list and a population list. Use zip to combine these lists into one list of tuples called pop_info. From this list, create a new list called endangered that contains the names of species whose populations are below 2500.

In [23]:
species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']

In [24]:
population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]

In [25]:
endangered = []

In [26]:
pop_info = list(zip(species, population))
print(pop_info)

[('golden retriever', 10000), ('white tailed deer', 90000), ('black rhino', 1000), ('brown squirrel', 2000000), ('field mouse', 500000), ('orangutan', 500), ('sumatran elephant', 1200), ('rainbow trout', 8000), ('black bear', 12000), ('blue whale', 2300), ('water moccasin', 7500), ('giant panda', 100), ('green turtle', 1800), ('blue jay', 9500), ('japanese beetle', 125000)]

In [27]:
filtered = list(filter(lambda info: info[1] < 2500, pop_info))
print(filtered)

[('black rhino', 1000), ('orangutan', 500), ('sumatran elephant', 1200), ('blue whale', 2300), ('giant panda', 100), ('green turtle', 1800)]

In [28]:
for animal in filtered:
    endangered.append(animal[0])
print(endangered)

['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']